.body {
  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0));
  height: 100vh;
  color: #fff;
  padding: 30px;
  overflow-y: overlay;
}
.body::-webkit-scrollbar {
  display: none;
}
.body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body-info > img {
  height: 20vh;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.bodyInfo-text {
  flex: 1;
}
.bodyInfo-text > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.bodyInfo-text > p {
  font-size: 14px;
}
.body-icons {
  display: flex;
  align-items: center;
}
.body-shuffle {
  font-size: 80px !important;
  margin: 20px 0 20px 50px;
  color: #1db954;
}
.body-shuffle:hover {
  transition: 0.1s transform ease-in;
  transform: scale(1.08);
}
.body-icons > .MuiSvgIcon-root {
  margin-right: 20px;
}
.body-songs {
  margin: 20px -30px;
}
