.song-row {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.song-row:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
}
.row-info-left > h1 {
  font-size: 16px;
}
.row-info-left > p {
  font-size: 14px;
  margin-top: 3px;
}
.song-row-album {
  width: 40px;
  height: 40px;
}
.song-row-info {
  margin-left: 20px;
}
.song-row-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.row-info-centre {
  position: absolute;
  left: 40%;
}
